<!DOCTYPE html>
<html>
  <head>
    <title>Pet.ly</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <base href="/"></base>
  </head>
  <body>
    <h1><a href="/">Pet a dog in your own beautiful way</a></h1>
    {{{body}}}
  </body>
</html>
