<div data-ng-if="!showVM.dog">
  <h2>That dog couldn't be found!</h2>
</div>
<div data-ng-if="showVM.dog">

  <h2>{{showVM.dog.name}} the {{showVM.dog.breed}}!</h2>

  <button data-ng-click="showVM.delete()">Remove This Dog?</button>


  <div data-ng-repeat="pet in showVM.dog.pets">
    <p>{{pet}}</p>
    <button data-ng-click="showVM.removePet($index)">This is a bad pet. No longer perform it.</button>
  </div>

  <div>
    <textarea placeholder="New Pet" data-ng-model="showVM.newPet"></textarea>
    <button data-ng-click="showVM.addPet()">This will be the greatest pet of all.</button>
  </div>

</div>
